
<!--  Fix size container -->
<div class="for-login-or-smart-install">
  <div class="csb-container-fixed">

    <!-- Page Title -->
    <div class="csb-header">
      <h1 translate="passwords.password_reset"></h1>
    </div>

    <!-- Content -->
    <div class="csb-body">

      <!-- Change password message -->
      <div class="csb-content-top csb-content-top--small">
        <b ng-show="state.value === 'valid'" translate="{{state.message}}">
        </b>
      </div>

      <!-- Change password form -->
      <div class="csb-content-middle row">

        <!-- Left column key image -->
        <div class="col-xs-4">
          <div class="icon-key cg-key-icon" ></div>
        </div>

        <!-- Invalid reset code -->
        <div class="col-xs-8">
          <div ng-show="state.value === 'invalid'">
            <b translate="{{state.message}}">
            </b>
            <div class="form-group">
              <div class="col-xs-offset-4 col-xs-8">
                <br />
                <div class="col-xs-6">
                  <input type="submit" id="" class="csb-button-grey" value="{{'passwords.send_email' | translate}}" ng-click="sendEmail()">
                </div>
              </div>
            </div>
          </div>
          <!-- Password Changed-->
          <b ng-show="state.value === 'password_changed'" translate="{{state.message}}">
          </b>
          <!-- Email sent -->
          <b ng-show="state.value === 'email_sent'" translate="{{state.message}}">
          </b>

          <form name="forms.changePassword" novalidate
                ng-model-options="{ updateOn: 'submit' }" class="form-horizontal suppress-ng-validation"
                ng-submit="applyButtonClicked()" ng-show="state.value === 'valid'">
            <div class="form-group" style="margin-bottom: 0">
              <label for="userName" class="csb-control-label col-xs-4" translate="passwords.user_name"></label>
              <div class="col-xs-8">
                <p id="userName" class="form-control-static">{{userName}}</p>
              </div>
            </div>
            <div class="form-group" style="margin-bottom: 0">
              <label for="inputNewPassword" class="csb-control-label col-xs-4" translate="passwords.new_password">
              </label>
              <div class="col-xs-8">
                <input id="inputNewPassword" name="newPassword"
                       type="password" class="form-control"
                       ng-class="{'input--invalid': passwordValidationErrors.newPassword.invalid}"
                       data-ng-model="password.newPassword" placeholder="{{'passwords.password' | translate}}"
                       required
                       autocomplete="off"
                       password-tooltip>
              </div>
            </div>
            <div class="form-group" style="margin-bottom: 0;">
              <label for="inputConfirmPassword" class="csb-control-label col-xs-4" translate="passwords.confirm_password">
              </label>
              <div class="col-xs-8">
                <input id="inputConfirmPassword" name="confirmPassword"
                       type="password" class="form-control"
                       ng-class="{'input--invalid': passwordValidationErrors.confirmPassword.invalid}"
                       data-ng-model="password.confirmPassword" placeholder="{{'passwords.password' | translate}}"
                       required
                       autocomplete="off">

                <ul class="password-rules">
                  <li translate="passwords.characters"></li>
                  <li translate="passwords.capital_letters"></li>
                  <li translate="passwords.number"></li>
                </ul>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-4 col-xs-8">
                <br />
                <div class="col-xs-6">
                  <input type="submit" id="btnChngPwdApply" class="csb-button-grey" value="{{'passwords.change_password' | translate}}">

                </div>
              </div>
            </div>
          </form>
          <div class="cpw_message">
            <password-errors></password-errors>
          </div>
        </div>

      </div>
    </div>
    <!-- Footer -->
    <div class="clearfix">
      <div class="csb-footer" style="padding-right: 35px">
        <img class="schneider-logo" src="../img/schneider_logo_Green.png" />
                <div class="icon-schneider_logo_Green cg-schneider-icon" style="float:right"></div>
      </div>
    </div>
  </div>
</div>
