<div ng-cloak>
  <div class="modal-header">
    <h3 class="modal-title" translate="xanbus.grid_codes.additionalInfo"></h3>
  </div>
  <div class="modal-body">
      <div translate='xanbus.grid_codes.additionalInfoDescription'></div>
      <br />
      <textarea rows="10" style="width:100%;" ng-model="addInfo"></textarea>
      <br />
  </div>
  <div class="modal-footer">
    <button class="btn" type="button"
            ng-click="close()"
            translate="devices.detection.close"></button>
  </div>
</div>
