<div ng-cloak>
  <se-panel value="{{'setup.manage_passwords.change_password' | translate}}">
    <form name="forms.changePassword" novalidate ng-model-options="{ updateOn: 'submit' }" ng-submit="apply()">
      <table class="settings-controls">
        <tr>
          <td translate="setup.manage_passwords.username"></td>
          <td>
            <select ng-model="password_info.userName" name="userName"
              ng-class="{'input--invalid': passwordValidationErrors.userName.invalid}"
              required
              >
              <option value="">{{'setup.manage_passwords.select_user' | translate}}</option>
              <option ng-repeat="user in password_info.users" value="{{user}}">{{user}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td translate="setup.manage_passwords.old_password"></td>
          <td>
            <input type="password"
                   name="oldPassword"
                   ng-model="password_info.password.oldPassword"
                   ng-class="{'input--invalid': passwordValidationErrors.oldPassword.invalid}"
                   required
                   autocomplete="off" />
          </td>
        </tr>
        <tr>
          <td translate="setup.manage_passwords.new_password"></td>
          <td>
            <input type="password"
                   name="newPassword"
                   ng-model="password_info.password.newPassword"
                   ng-class="{'input--invalid': passwordValidationErrors.newPassword.invalid}"
                   required
                   autocomplete="off" />
          </td>
        </tr>
        <tr>
          <td translate="setup.manage_passwords.confirm_password"
            class="settings-control__label--for-many-controls"
            >
          </td>
          <td>
            <input type="password"
                   name="confirmPassword"
                   ng-model="password_info.password.confirmPassword"
                   ng-class="{'input--invalid': passwordValidationErrors.confirmPassword.invalid}"
                   required
                   autocomplete="off" />
            <ul class="password-rules">
              <li translate="setup.manage_passwords.password_length"></li>
              <li translate="setup.manage_passwords.password_capital"></li>
              <li translate="setup.manage_passwords.password_number"></li>
            </ul>
          </td>
        </tr>
      </table>
      <div class="panel-controls">
        <div class="panel-controls__message panel-controls__message--error">
          <password-errors></password-errors>
        </div>

        <div class="panel-controls__buttons">
          <input type="submit" class="btn btn-default" value="{{'setup.manage_passwords.apply' | translate}}">
          <input type="button" class="btn btn-default" value="{{'setup.manage_passwords.cancel' | translate}}" ng-click="cancel()">
        </div>
      </div>
    </form>
  </se-panel>
</div>
