<!-- detected meters -->
<uib-accordion close-others="oneAtATime">
  <uib-accordion-group is-open="status.open" panel-class='accordion-panel'>
    <uib-accordion-heading>
      <span translate="devices.overview_tables.meter_panel_title"></span>
      <span ng-if="meters.length > 0"> - {{meters.length}}</span>
      <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
    </uib-accordion-heading>

    <div ng-class="{'data-table-container': hasScrollBar, 'data-table-container--10-items': hasScrollBar}">
      <table class="data-table" ng-if="meters.length > 0">
        <tr>
          <th><!-- Index. This column is un-labeled --></th>
          <th translate="devices.overview_tables.meter_name"></th>
          <!--<th translate="devices.overview_tables.meter_type"></th>-->
          <th translate="devices.overview_tables.model_number"></th>
          <th translate="devices.overview_tables.firmware_version"></th>
          <th translate="devices.overview_tables.serial"></th>
          <th translate="devices.overview_tables.real_power" translate-value-units="{{units.RealPower}}W"></th>
          <th translate="devices.overview_tables.power_factor"></th>
          <th translate="devices.overview_tables.net_energy_today" translate-value-units="{{units.NetRealEnergyToday}}Wh"></th>
          <th translate="devices.overview_tables.net_energy_lifetime" translate-value-units="{{units.NetRealEnergyLifetime}}Wh"></th>
          <th translate="devices.overview_tables.alarms"></th>
        </tr>

        <tr ng-repeat="meter in meters">
          <td ng-bind="$index + 1" class="text-left"></td>
          <td ng-bind="meter.Name" class="text-left"></td>
          <!--<td ng-bind="meter.MeterType" class="text-left"></td>-->
          <td ng-bind="meter.ModelNumber | makeDashIf: meter.CommError"></td>
          <td ng-bind="meter.FirmwareVersion | makeDashIf: meter.CommError" class="text-left"></td>
          <td ng-bind="meter.Serial | makeDashIf: meter.CommError" class="text-left"></td>
          <td ng-bind="meter.RealPower | unitFormatter : units.RealPower | makeDashIf: meter.CommError"></td>
          <td ng-bind="meter.TotalPowerFactor | number: 2 | makeDashIf: meter.CommError"></td>
          <td ng-bind="meter.NetRealEnergyToday | unitFormatter : units.NetRealEnergyToday | makeDashIf: meter.CommError"></td>
          <td ng-bind="meter.NetRealEnergyLifetime | unitFormatter : units.NetRealEnergyLifetime | makeDashIf: meter.CommError"></td>
          <td>
            <alarm-icons
              has-alarms="{{meter.hasAlarms}}"
              has-warnings="{{meter.hasWarnings}}"
              device-is-present="{{!meter.CommError}}">
            </alarm-icons>
          </td>
        </tr>

      </table>
    </div>

    <div ng-if="meters.length == 0">
      <span translate="devices.overview_tables.no_meter_configured"></span>
      <span csb-permissions translate="devices.overview_tables.no_meter_configured_url" translate-value-href="#/devices/detection"></span>
    </div>

  </uib-accordion-group>
</uib-accordion>
