
<uib-tabset>
  <uib-tab heading="{{'devices.details.summary_view' | translate}}">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" translate="devices.details.device_information"></h2>
      </div>

      <!-- no panel-body class, so the table goes full width -->
      <table class="device-details table">
        <tr>
          <td translate="devices.details.product_name"></td>
          <td ng-bind="meterDetails.PRODUCT"></td>
        </tr>
        <tr>
          <td translate="devices.details.model_number"></td>
          <td ng-bind="meterDetails.MODEL"></td>
        </tr>
        <tr>
          <td translate="devices.details.product_id"></td>
          <td ng-bind="meterDetails.PRODUCT_ID"></td>
        </tr>
        <tr>
          <td translate="devices.details.device_name"></td>
          <td ng-bind="device.NAME"></td>
        </tr>
        <tr>
          <td translate="devices.details.firmware_version"></td>
          <td ng-bind="meterDetails.FIRMWARE_VER_OS_BUILD"></td>
        </tr>
        <tr>
          <td translate="devices.details.manufacturer"></td>
          <td ng-bind="meterDetails.MANUFACTURER"></td>
        </tr>
        <tr>
          <td translate="devices.details.last_updated"></td>
          <td ng-bind="device.lastUpdated"></td>
        </tr>
      </table>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title" translate="devices.details.current_values"></h2>
      </div>

      <table class="device-details table"
             ng-class="{'device-details--comm-error': device.commError}">
        <tr>
          <td translate="devices.details.active_load_timer"></td>
          <td ng-bind="meterDetails.ACTIVE_LOAD_TIMER | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.active_energy_delivered"></td>
          <td ng-bind="meterDetails.ENERGY_ACTIVE_DELIVERED | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.active_energy_received"></td>
          <td ng-bind="meterDetails.ENERGY_ACTIVE_RECEIVED | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.active_energy_absolute"></td>
          <td ng-bind="meterDetails.ENERGY_ACTIVE_ABSOLUTE | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.apparent_energy_net"></td>
          <td ng-bind="meterDetails.ENERGY_ACTIVE_NET | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.reactive_energy_delivered"></td>
          <td ng-bind="meterDetails.ENERGY_REACTIVE_DELIVERED | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.reactive_energy_received"></td>
          <td ng-bind="meterDetails.ENERGY_REACTIVE_RECEIVED | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.reactive_energy_absolute"></td>
          <td ng-bind="meterDetails.ENERGY_REACTIVE_ABSOLUTE | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.reactive_energy_net"></td>
          <td ng-bind="meterDetails.ENERGY_REACTIVE_NET | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.apparent_energy_delivered"></td>
          <td ng-bind="meterDetails.ENERGY_APPARENT_DELIVERED | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.apparent_energy_received"></td>
          <td ng-bind="meterDetails.ENERGY_APPARENT_RECEIVED | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.apparent_energy_absolute"></td>
          <td ng-bind="meterDetails.ENERGY_APPARENT_ABSOLUTE | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.apparent_energy_net"></td>
          <td ng-bind="meterDetails.ENERGY_APPARENT_NET | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_a"></td>
          <td ng-bind="meterDetails.CURRENT_A | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_b"></td>
          <td ng-bind="meterDetails.CURRENT_B | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_c"></td>
          <td ng-bind="meterDetails.CURRENT_C | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_n"></td>
          <td ng-bind="meterDetails.CURRENT_N | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_g"></td>
          <td ng-bind="meterDetails.CURRENT_G | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_avg"></td>
          <td ng-bind="meterDetails.CURRENT_AVG | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_unbalanced_a"></td>
          <td ng-bind="meterDetails.CURRENT_UNBALANCE_A | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_unbalanced_b"></td>
          <td ng-bind="meterDetails.CURRENT_UNBALANCE_B | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_unbalanced_c"></td>
          <td ng-bind="meterDetails.CURRENT_UNBALANCE_C | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.current_unbalanced_worst"></td>
          <td ng-bind="meterDetails.CURRENT_UNBALANCE_WORST | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_ab"></td>
          <td ng-bind="meterDetails.VOLT_A_B | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_bc"></td>
          <td ng-bind="meterDetails.VOLT_B_C | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_ca"></td>
          <td ng-bind="meterDetails.VOLT_C_A | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_line_avg"></td>
          <td ng-bind="meterDetails.VOLT_L_L_AVG | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_an"></td>
          <td ng-bind="meterDetails.VOLT_A_N | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_bn"></td>
          <td ng-bind="meterDetails.VOLT_B_N | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_cn"></td>
          <td ng-bind="meterDetails.VOLT_C_N | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_neutral_avg"></td>
          <td ng-bind="meterDetails.VOLT_L_N_AVG | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_ab_unbalanced"></td>
          <td ng-bind="meterDetails.VOLT_UNBALANCE_A_B | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_bc_unbalanced"></td>
          <td ng-bind="meterDetails.VOLT_UNBALANCE_B_C | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_ca_unbalanced"></td>
          <td ng-bind="meterDetails.VOLT_UNBALANCE_C_A | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_line_worst"></td>
          <td ng-bind="meterDetails.VOLT_UNBALANCE_L_L_WORST | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_an_unbalanced"></td>
          <td ng-bind="meterDetails.VOLT_UNBALANCE_A_N | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_bn_unbalanced"></td>
          <td ng-bind="meterDetails.VOLT_UNBALANCE_B_N | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_cn_unbalanced"></td>
          <td ng-bind="meterDetails.VOLT_UNBALANCE_C_N | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.voltage_neutral_worst"></td>
          <td ng-bind="meterDetails.VOLT_UNBALANCE_L_N_WORST | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.active_power_a"></td>
          <td ng-bind="meterDetails.POWER_ACTIVE_A | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.active_power_b"></td>
          <td ng-bind="meterDetails.POWER_ACTIVE_B | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.active_power_c"></td>
          <td ng-bind="meterDetails.POWER_ACTIVE_C | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.active_power_total"></td>
          <td ng-bind="meterDetails.POWER_ACTIVE_TOTAL | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.reactive_power_a"></td>
          <td ng-bind="meterDetails.POWER_REACTIVE_A | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.reactive_power_b"></td>
          <td ng-bind="meterDetails.POWER_REACTIVE_B | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.reactive_power_c"></td>
          <td ng-bind="meterDetails.POWER_REACTIVE_C | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.reactive_power_total"></td>
          <td ng-bind="meterDetails.POWER_REACTIVE_TOTAL | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.apparent_power_a"></td>
          <td ng-bind="meterDetails.POWER_APPARENT_A | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.apparent_power_b"></td>
          <td ng-bind="meterDetails.POWER_APPARENT_B | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.apparent_power_c"></td>
          <td ng-bind="meterDetails.POWER_APPARENT_C | number: 1 | makeDashIf: device.commError"></td>
        </tr>
        <tr>
          <td translate="devices.details.apparent_power_total"></td>
          <td ng-bind="meterDetails.POWER_APPARENT_TOTAL | number: 1 | makeDashIf: device.commError"></td>
        </tr>
      </table>

    </div>
  </uib-tab>

  <uib-tab heading="{{'devices.details.settings' | translate}}" csb-permissions>
    <form name="forms.meterSettings" novalidate ng-submit="apply()">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title" translate="devices.details.meter_type"></h2>
        </div>

        <div class="panel-body">
          <table class="settings-controls">
            <tr>
              <td translate="devices.details.meter_type"></td>
              <td>
                <select name="meterType" ng-model="settings.meterType" required
                        ng-disabled="device.commError"
                        ng-options="meterType.id as meterType.name for meterType in meterTypes"></select>
              </td>
            </tr>

            <tr>
              <td translate="devices.details.meter_model"></td>
              <td>
                <span ng-bind="device.MODEL"></span>
              </td>
            </tr>

          </table>
        </div>

        <div class="panel-controls panel-footer">
          <div class="panel-controls__message panel-controls__message--error">
            <div ng-show="device.commError" class="alert alert-warning"
                 translate="devices.details.meter_errors.comm">
            </div>

            <div ng-show="forms.meterSettings.$submitted">
              <div ng-messages="forms.meterSettings.meterType.$error">
                <div ng-message="required">
                  <span translate="devices.details.meter_errors.type_required"></span>
                </div>
                <div ng-message="tooManyGeneration">
                  <span translate="devices.details.meter_errors.too_many_generation"></span>
                </div>
                <div ng-message="tooManyExport">
                  <span translate="devices.details.meter_errors.too_many_export"></span>
                </div>
              </div>
              <div ng-messages="forms.meterSettings.meterModel.$error">
                <div ng-message="required">
                  <span translate="devices.details.meter_errors.model_required"></span>
                </div>
              </div>

            </div>
            <div class="panel-controls__message panel-controls__message--error">
              <div class="alert alert-success"
                   ng-show="successMessage.meterSettings"
                   translate="devices.details.changes_saved">
              </div>
            </div>
          </div>
          <div class="panel-controls__buttons">
            <input type="submit" class="btn btn-default"
                   ng-disabled="device.commError"
                   value="{{ 'devices.details.apply' | translate }}">
            <input type="button" class="btn btn-default" ng-disabled="device.commError"
                   ng-click="reset()"
                   value="{{ 'devices.details.cancel' | translate }}">
          </div>
        </div>
      </div>
    </form>


    <div class="panel panel-default" ng-show="settings.setupComplete">
      <div class="panel-heading">
        <h2 class="panel-title" translate="devices.details.meter_parameters"></h2>
      </div>

      <div class="panel-body">
        <table class="device-details table">
          <tr>
            <td translate="devices.details.last_restart_time"></td>
            <td ng-bind="meterDetails.LAST_UNIT_RESTART_TIME | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.system_restarts"></td>
            <td ng-bind="meterDetails.NUMBER_SYSTEM_RESTARTS | number: 0 | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.ctr_pwr_failures"></td>
            <td ng-bind="meterDetails.NUMBER_CTRPWR_FAILURES | number: 0 | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.ctr_pwr_failure_time"></td>
            <td ng-bind="meterDetails.LAST_CTRPWR_FAILURE_TIME | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.ctr_pwr_failure_duration"></td>
            <td ng-bind="meterDetails.LAST_CTRPWR_FAILURE_DURATION | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.reset_cause"></td>
            <td ng-bind="meterDetails.CAUSE_LAST_RESET | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.meter_operation_timer"></td>
            <td ng-bind="meterDetails.OPERATION_TIMER | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.cycle_count"></td>
            <td ng-bind="meterDetails.CYCLE_COUNT | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.number_of_phases"></td>
            <td ng-bind="meterDetails.NUMBER_PHASES | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.number_of_wires"></td>
            <td ng-bind="meterDetails.NUMBER_WIRES | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.power_system_config"></td>
            <td ng-bind="meterDetails.POWER_SYSTEM_CONFIG | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.power_system_config"></td>
            <td ng-bind="meterDetails.POWER_SYSTEM_CONFIG | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.nominal_frequency"></td>
            <td ng-bind="meterDetails.NOMINAL_FREQUENCY | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.nominal_voltage"></td>
            <td ng-bind="meterDetails.NOMINAL_VOLTAGE | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.nominal_current"></td>
            <td ng-bind="meterDetails.NOMINAL_CURRENT | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.nominal_power_factor"></td>
            <td ng-bind="meterDetails.NOMINAL_POWER_FACTOR | makeDashIf: device.commError"></td>
          </tr>
          <tr>
            <td translate="devices.details.phase_rotation"></td>
            <td ng-bind="meterDetails.NORMAL_PHASE_ROTATION | makeDashIf: device.commError"></td>
          </tr>

        </table>

      </div>
    </div>


  </uib-tab>
</uib-tabset>
