<div class="for-login-or-smart-install">
  <link rel="stylesheet" type="text/css" href="/css/loginStyles.css">
  <div class="smartInstallTable" ng-cloak data-ng-controller="csbIdleTimer">
    <div class="smartInstallTableCell">
      <div class="smartInstallBackground">
        <div class="smartInstallDimensionDiv">
          <table style="width:92%">
            <tr>
              <td><h3 id="smartInstallHeader" translate="smart_install.heading.heading"></h3></td>
              <td><h3 id="smartInstallSubHeader"> <span translate="SI_HDRSTEPLBL"></span>&nbsp;4 </h3></td>
            </tr>
          </table>
          <hr id="smartInstallAppgreenLine">
          <div id="smartInstallContainerId" style="height: 60%">
            <section class="smartInstallSidePaswdRecoveryImage">
              <div class="icon-key cg-key-icon" ></div>
            </section>
            <section class="smartInstallSidePaswdRecoveryText">
              <form name="passwordRecoveryForm" novalidate>
                <table id="smartInstallChangePasswordTable">
                  <tr>
                    <td><h4><span translate="SIPWDRCRY_EMAILID"></span>*:&nbsp;</h4></td>
                    <td>
                      <div class="form-group" ng-class="{'has-error': passwordRecoveryForm.txtPasswordRecoveryEmail.$invalid && passwordRecoveryForm.txtPasswordRecoveryEmail.$touched}">
                        <input type="email" id="txtPasswordRecoveryEmail" name="txtPasswordRecoveryEmail" ng-model="txtPasswordRecoveryEmailApp" class="form-control" ng-model-options="{ updateOn: 'blur' }" size="30px" required>
                        <span class="help-block" ng-show="passwordRecoveryForm.txtPasswordRecoveryEmail.$error.email && passwordRecoveryForm.txtPasswordRecoveryEmail.$touched" translate="SIPWDRCRY_INVALID_EMAIL_MSG"></span>
                        <span class="help-block" ng-show="passwordRecoveryForm.txtPasswordRecoveryEmail.$error.required && passwordRecoveryForm.txtPasswordRecoveryEmail.$touched" translate="SIPWDRCRY_VALID_EMAIL_REQ_MSG"></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><h4><span translate="SIPWDRCRY_SMTPSRVR"></span>*:&nbsp;</h4></td>
                    <td>
                      <div class="form-group" ng-class="{'has-error': passwordRecoveryForm.txtSmtpServerName.$invalid && passwordRecoveryForm.txtSmtpServerName.$touched}">
                        <input type="text" id="txtSmtpServerName" name="txtSmtpServerName" data-ng-model="txtSmtpServerNameApp" ng-pattern="/(\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}|\b((?=[a-z0-9-]{1,63}\.)(xn--)?[a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,63}\b)/" class="form-control" ng-model-options="{ updateOn: 'blur' }" size="30px" required>
                        <span class="help-block" ng-show="passwordRecoveryForm.txtSmtpServerName.$error.pattern && passwordRecoveryForm.txtSmtpServerName.$touched" translate="SIPWDRCRY_INVALID_SMTPSERVER_MSG"></span>
                        <span class="help-block" ng-show="passwordRecoveryForm.txtSmtpServerName.$touched && passwordRecoveryForm.txtSmtpServerName.$error.required" translate="SIPWDRCRY_VALID_SMTPSERVER_REQ_MSG"></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><h4><span translate="SIPWDRCRY_SMTPPORT"></span>*:&nbsp;</h4></td>
                    <td>
                      <div class="form-group" ng-class="{'has-error': passwordRecoveryForm.txtSmtpPort.$invalid && passwordRecoveryForm.txtSmtpPort.$touched}">
                        <input type="number" id="txtSmtpPort" name="txtSmtpPort" class="form-control" data-ng-model="txtSmtpPortApp" ng-model-options="{ updateOn: 'blur' }" min="1" max="50000" value="25" placeholder="25" required>
                        <span class="help-block" ng-show="(passwordRecoveryForm.txtSmtpPort.$error.max || passwordRecoveryForm.txtSmtpPort.$error.min || passwordRecoveryForm.txtSmtpPort.$error.number) && passwordRecoveryForm.txtSmtpPort.$touched" translate="SIPWDRCRY_INVALID_SMTPPORT_MSG"></span>
                        <span class="help-block" ng-show="passwordRecoveryForm.txtSmtpPort.$error.required && passwordRecoveryForm.txtSmtpPort.$touched" translate="SIPWDRCRY_VALID_SMTPPORT_REQ_MSG"></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><h4><span translate="SIPWDRCRY_UNAME"></span>:&nbsp;</h4></td>
                    <td>
                      <div class="form-group">
                        <input type="text" id="txtSMTPUserName" name="txtSMTPUserName" class="form-control" data-ng-model="txtSMTPUserNameApp" size="30px">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td><h4><span translate="SIPWDRCRY_PWD"></span>:&nbsp;</h4></td>
                    <td>
                      <div class="form-group">
                        <input type="password" id="txtSMTPPassword" name="txtSMTPPassword" class="form-control" data-ng-model="txtSMTPPasswordApp" size="30px" autocomplete="off">
                      </div>
                    </td>
                  </tr>
                </table>
              </form>
            </section>
          </div>
          <div id="smartInstallErrMsgContainer">
            <div class="smartInstallErrMsgBar" id="smartInstallErrMsgBar">
              <label for="pwdRcvryError" id="lblerrormessage"><span id="pwdRcvryError"></span></label>
            </div>
          </div>
          <div id="smartInstallButtonContainer">
            <button type="button" id="btnPwdRcvryApply" name="btnPwdRcvryApply" class="smartInstallNext" ng-click="nextClicked()" ng-disabled="passwordRecoveryForm.$invalid" translate="smart_install.apply"></button>
            <button type="button" id="btnPwdRcvrySkip" name="btnPwdRcvrySkip" class="smartInstallSkip" ng-click="skipClicked()" translate="smart_install.skip"></button>
            <button type="button" id="btnSendTestMail" name="btnSendTestMail" class="changePassword" ng-disabled="passwordRecoveryForm.$invalid" ng-click="sendTestMailClicked()" translate="SIPWDRCRY_SENDMAIL"></button>
            <span ng-show="status.processing" id="smartInstallEmailSpinner">
              <img src="img/schneiderloader.gif" class="install-package__spinner">
              <span translate="setup.network.processing"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
