<div class="for-login-or-smart-install" ng-cloak>
  <div class="smartInstallTable" data-ng-controller="csbIdleTimer">
    <div class="smartInstallTableCell">
      <div class="smartInstallBackground">
        <div class="smartInstallDimensionDiv">
          <!-- Header-->
          <table style="width:92%">
            <tr>
              <td><h3 id="smartInstallHeader" translate="smart_install.heading.heading"></h3></td>
            </tr>
          </table>
          <hr id="smartInstallAppgreenLine">
          <div id="smartInstallContainerId">
            <h3><div class="icon-bullet_1 smartInstallBullet"></div>&nbsp;&nbsp;&nbsp;<span translate="smart_install.home.plant_setup"></span></h3>
            <h3><div class="icon-bullet_2 smartInstallBullet"></div>&nbsp;&nbsp;&nbsp;<span translate="smart_install.home.detect"></span></h3>
            <h3><div class="icon-bullet_3 smartInstallBullet"></div>&nbsp;&nbsp;&nbsp;<span translate="smart_install.home.insight"></span></h3>
            <h3><div class="icon-bullet_4 smartInstallBullet"></div>&nbsp;&nbsp;&nbsp;<span translate="smart_install.home.password"></span></h3>
          </div>
          <div id="smartInstallButtonContainer">
            <button type="button" id="btnSmrtHomeNext" name="btnSmrtHomeNext" class="smartInstallNext" ng-click="nextClicked()" translate="smart_install.next"></button>
            <button type="button" id="btnSmrtHomeSkip" name="btnSmrtHomeSkip" class="smartInstallSkip" ng-click="skipClicked()" translate="smart_install.skip"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
