/*<meta />*/

body
{
	font-family: Arial;
	margin: 17px;
	font-size: 10pt;
	line-height: 14pt;
	margin-left: 17px;
	hyphens: none;
	mc-hyphenate: never;
	background-image: url('../images/misc/draftwatermark.png');
	background-position: 3% 50%;
	background-repeat: repeat-y;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight: bold;
	color: #749AB6;
	page-break-after: avoid;
}

p.example
{
	color: #546C7F;
	border: solid 1px #BECFDC;
	background-color: #DEE8F0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
}

p.note
{
	color: #616E14;
	border: solid 1px #BFD62F;
	background-color: #DAE691;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	padding: 14px 20px;
}

a
{
	color: #5B8EC1;
}

@media print
{
	/* show dropdown body in in HTML5 and WebHelp (which has random suffix) */

	[class^="MCDropDownBody"]
	{
		display: block !important;
		display: initial !important;
	}

	/* show toggler body in HTML5  */

	[data-mc-target-name]
	{
		display: block !important;
		display: initial !important;
	}

	/* show toggler body in WebHelp */

	[madcap\00003Atargetname]
	{
		display: block !important;
		display: initial !important;
	}

	h1
	{
		color: #000000;
		font-size: 16pt;
		line-height: 20pt;
		margin-top: 6pt;
		margin-bottom: 0;
		mc-auto-number-offset: 0;
		page-break-before: avoid;
	}

	h2
	{
		font-size: 14pt;
		color: #000000;
		margin-top: 6pt;
		margin-bottom: 0;
		line-height: 20pt;
	}

	h3
	{
		font-size: 12pt;
		color: #000000;
		margin-top: 6pt;
		margin-bottom: 0;
		line-height: 18pt;
	}

	h4
	{
		color: #000000;
	}

	h5
	{
		color: #000000;
	}

	h6
	{
		color: #000000;
	}

	body
	{
		margin-left: 0px;
		margin: 0px;
		background-image: none;
	}

	p,
	h6
	{
		font-size: 10pt;
		color: #000000;
		margin-left: 48mm;
		margin-top: 6pt;
		margin-bottom: 0;
		line-height: 14pt;
		background-image: none;
		mc-hyphenate: never;
	}

	li > p,
	ol p,
	ul p
	{
		margin-left: 0;
	}

	p.ParaTitle
	{
		font-weight: bold;
		font-style: normal;
		margin-bottom: 0;
		page-break-after: avoid;
	}

	p.ProductTitle
	{
		color: #009933;
		line-height: 30pt;
		margin-bottom: 15pt;
		font-size: 24pt;
		margin-left: 0;
	}

	p.ManualType
	{
		margin-bottom: 12pt;
		font-size: 20pt;
		line-height: 24pt;
		margin-left: 0;
	}

	p.ChapterTitle
	{
		margin-left: 0;
		font-size: 20pt;
		line-height: 26pt;
		margin-top: 0pt;
		margin-bottom: 6pt;
		page-break-after: avoid;
	}

	p.ChapterTitleNoTOC
	{
		margin-left: 0;
		font-size: 20pt;
		line-height: 26pt;
		margin-top: 0pt;
		margin-bottom: 6pt;
		page-break-after: avoid;
	}

	p.CoverText12p
	{
		margin-bottom: 7pt;
		font-size: 12pt;
		line-height: 14pt;
		margin-left: 0;
	}

	span.sys
	{
		font-size: 10pt;
		font-family: 'Courier New';
	}

	span.italicized
	{
		font-weight: normal;
		font-style: italic;
	}

	span.emphasized
	{
		font-weight: bold;
		font-style: normal;
	}

	p.FlushLeft
	{
		margin-left: 0;
	}

	p.CoverText8p
	{
		font-size: 8pt;
		margin-left: 0;
	}

	p.CoverText8pFR
	{
		text-align: right;
		font-size: 8pt;
		margin-left: 0;
	}

	p.Legal
	{
		font-weight: bold;
		font-style: normal;
		margin-bottom: 6pt;
		font-size: 9pt;
		line-height: 11pt;
		margin-left: 0;
	}

	h1.service
	{
		mc-auto-number-format: '{Gn+}.0 ';
	}

	h2.service
	{
		mc-auto-number-format: '{Gn}.{Gn+} ';
	}

	h3.service
	{
		mc-auto-number-format: '{Gn}.{Gn}.{Gn+} ';
	}

	p.Footnote
	{
		font-size: 8pt;
	}

	p.IndexHeading
	{
		font-size: 16pt;
		text-align: left;
		line-height: 24pt;
		margin-bottom: 0;
		margin-top: 12pt;
		column-break-after: auto;
	}

	p.Index1
	{
		margin-top: 0;
	}

	p.Index2
	{
		margin-top: 0;
	}

	p.TOC1
	{
		font-weight: normal;
		font-style: normal;
		margin-left: 48mm;
		font-size: 12pt;
		margin-bottom: 6px;
	}

	p.TOC2
	{
		margin-left: 52mm;
		margin-bottom: 6px;
	}

	p.TOC6
	{
		display: none;
	}

	p.MiniTOC2
	{
		
	}

	p.MiniTOC3
	{
		
	}

	p.TOC3
	{
		margin-left: 60mm;
	}

	ol.OrderedList
	{
		margin-left: 48mm;
		display: block;
		border: none 1px #000000;
		text-indent: 0mm;
		padding-left: 16pt;
	}

	ol.OrderedList > li > ol
	{
		
	}

	ul.UnorderedList
	{
		display: block;
		list-style: ;
		border: none 1px #000000;
		margin-left: 52mm;
		padding-left: 4pt;
	}

	caption,
	p.TableCaption
	{
		text-align: inherit;
		mc-auto-number-format: 'T:Table {Gn+}';
	}

	p.HeaderFooter
	{
		margin-left: 0mm;
		margin-top: 0pt;
		line-height: 9pt;
	}

	p.miniTOCbreak
	{
		frame-break-after: always;
	}

	p.Bullet_forFrameImportOnly
	{
		margin-left: 52mm;
	}

	p.BulletIndent_forFrameImportOnly
	{
		margin-left: 63mm;
	}

	p.Step1_forFrameImportOnly
	{
		margin-left: 48mm;
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 21px;
		padding-left: 16pt;
	}

	p.StepNext_forFrameImportOnly
	{
		margin-left: 48mm;
		padding-left: 16pt;
	}

	p.StepSub_forFrameImportOnly
	{
		mc-auto-number-format: '{a+}. ';
		margin-left: 59mm;
		mc-auto-number-position: outside-head;
		padding-left: 12pt;
		mc-auto-number-offset: 22px;
	}

	p.StepSub1_forFrameImportOnly
	{
		mc-auto-number-format: '{a=1}. ';
		margin-left: 59mm;
		mc-auto-number-position: outside-head;
		padding-left: 12pt;
		mc-auto-number-offset: 22px;
	}

	p.ImageCaption,
	h6.ImageCaption
	{
		line-height: 14pt;
		mc-auto-number-format: 'F:Figure {Gn+} ';
		margin-left: 0mm;
		font-weight: normal;
		mc-auto-number-position: float-left;
	}

	li
	{
		display: list-item;
	}

	frame
	{
		
	}

	div.Indent
	{
		margin-left: 48mm;
		margin-top: 6pt;
	}

	div
	{
		
	}

	p.TableText,
	p.TableText_center
	{
		font-size: 9pt;
	}

	ol.TableOrderedList
	{
		font-size: 9pt;
	}

	ul.TableUnorderedList
	{
		font-size: 9pt;
	}

	span.ExcludeFromGlossary
	{
		
	}

	th
	{
		font-family: Arial;
	}

	p
	{
		
	}

	h6.ImageCaption
	{
		mc-heading-level: 0;
	}

	div.Indent4List
	{
		
	}

	p.ImageCaption
	{
		mc-auto-number-format: 'F:Figure {Gn+}';
	}

	ul.UnorderedList > li > ul > li > ul
	{
		list-style-type: circle;
	}

	ul
	{
		
	}

	img.Legends
	{
		margin-top: 4pt;
	}

	img
	{
		
	}

	ul.TableUnorderedList > li > ul
	{
		padding-left: -24px;
	}

	ul.TableUnorderedList > li > ul > li > ul
	{
		padding-left: -26px;
	}

	caption
	{
		font-family: Arial;
	}
}

img
{
	clear: both;
	float: none;
	line-height: 0px;
}

object
{
	float: left;
	clear: both;
	border-top-style: none;
	border-top-width: 6pt;
	border-bottom-style: none;
	border-bottom-width: 6pt;
	padding-left: 0px;
	padding-top: 6pt;
	padding-bottom: 6pt;
}

p.ImageCaption,
h6.ImageCaption
{
	mc-auto-number-format: 'F:Figure {Gn+} ';
	font-style: italic;
	margin-bottom: 0pt;
	border: none 1px;
	margin-top: 10pt;
	font-weight: normal;
}

span.SafetyBlack
{
	font-weight: bold;
	font-style: normal;
	font-size: 16pt;
	text-transform: uppercase;
	color: #000000;
	text-align: center;
	padding-top: 6pt;
}

span.SafetyWhite
{
	color: #ffffff;
	font-size: 16pt;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 6pt;
}

tbody
{
	
}

td
{
	font-size: 10pt;
	line-height: 12pt;
	page-break-inside: avoid;
	mc-hyphenate: never;
}

p.TableText
{
	margin-left: 2pt;
	border: none 1px #b22222;
}

p.TableText_center
{
	margin-left: 0;
	text-align: center;
	border: none 1px #b22222;
}

p.TableHeader
{
	margin-left: 0;
	text-align: center;
	font-weight: bold;
	font-style: normal;
	line-height: 14pt;
	font-size: 10pt;
	page-break-inside: avoid;
}

span.SafetyItalic
{
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
	font-size: 16pt;
}

p.HazardStatement
{
	font-weight: bold;
	font-style: normal;
	text-align: left;
	text-transform: uppercase;
	margin-left: 0;
}

p.note
{
	border-top-left-radius: 6px;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #bfd62f;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #bfd62f;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #bfd62f;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #bfd62f;
	color: #000000;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
	background-color: #ffffff;
}

p.example
{
	color: #000000;
	background-color: #ffffff;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #becfdc;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #becfdc;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #becfdc;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #becfdc;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	padding-bottom: 14px;
}

ol.OrderedList
{
	list-style-type: decimal;
	border: none 1px;
}

ol.OrderedList > li > ol
{
	list-style-type: lower-alpha;
}

ol.OrderedList > li > ol > li > ol
{
	list-style-type: lower-roman;
}

ul.TableUnorderedList > li > ul
{
	list-style-type: disc;
	padding-left: 16px;
}

ul.TableUnorderedList > li > ul > li > ul
{
	list-style-type: circle;
	padding-left: 16px;
}

ol.TableOrderedList
{
	list-style-type: decimal;
	margin-bottom: 0em;
	margin-top: 6pt;
	margin-left: 0px;
	padding-left: 26px;
}

ol.TableOrderedList > li > ol
{
	list-style-type: lower-alpha;
	margin-bottom: 0em;
	margin-top: 6pt;
	margin-left: 0px;
	padding-left: 20px;
}

ol.TableOrderedList > li > ol > li > ol
{
	list-style-type: lower-roman;
	margin-bottom: 0em;
	margin-top: 6pt;
	margin-left: 0px;
	padding-left: 18px;
}

h1
{
	color: #000000;
	mc-heading-level: 2;
	page-break-after: avoid;
}

h2
{
	color: #000000;
	mc-heading-level: 3;
	page-break-after: avoid;
}

h3
{
	color: #000000;
	mc-heading-level: 0;
	page-break-after: avoid;
}

h4
{
	color: #000000;
	mc-heading-level: 0;
}

h5
{
	color: #000000;
	mc-heading-level: 0;
}

h6
{
	color: #000000;
	mc-heading-level: 0;
}

span.emphasized
{
	font-weight: bold;
}

span.italicized
{
	font-style: italic;
}

span.sys
{
	font-size: 10pt;
	font-family: 'Courier New';
}

p,
h6
{
	margin-top: 6pt;
	line-height: 14pt;
	margin-bottom: 0;
	margin-left: 2pt;
	font-size: 10pt;
	mc-hyphenate: never;
}

@media non-print
{
	h1
	{
		font-size: 16pt;
		line-height: 20pt;
		margin-top: 6pt;
		margin-bottom: 0;
		mc-auto-number-offset: 0;
		color: #009933;
	}

	h2
	{
		font-size: 14pt;
		margin-top: 6pt;
		margin-bottom: 0;
		line-height: 20pt;
		color: #009933;
	}

	h3
	{
		font-size: 12pt;
		margin-top: 6pt;
		margin-bottom: 0;
		color: #009933;
		line-height: 18pt;
	}

	body
	{
		margin: 0px;
		margin-left: 15pt;
		font: Verdana;
		font-family: Verdana, ' Arial', ' sans-serif';
		margin-right: 15pt;
		width: 70%;
		padding-bottom: 10px;
	}

	p,
	h6
	{
		font-size: 10pt;
		color: #000000;
		margin-bottom: 0;
		line-height: 14pt;
		margin-left: 0mm;
		margin-top: 6pt;
		mc-hyphenate: never;
	}

	h4
	{
		color: #000000;
	}

	h5
	{
		color: #000000;
	}

	p.ParaTitle
	{
		font-weight: bold;
		font-style: normal;
		margin-bottom: 0;
	}

	p.ProductTitle
	{
		color: #009933;
		line-height: 30pt;
		margin-bottom: 15pt;
		font-size: 24pt;
		margin-left: 0;
	}

	p.ManualType
	{
		margin-bottom: 12pt;
		font-size: 20pt;
		line-height: 24pt;
		margin-left: 0;
	}

	p.ChapterTitle
	{
		margin-bottom: 12pt;
		font-size: 24pt;
		line-height: 36pt;
		margin-left: 0;
		color: #009933;
	}

	p.ChapterTitleNoTOC
	{
		margin-bottom: 12pt;
		font-size: 24pt;
		line-height: 36pt;
		margin-left: 0;
		color: #009933;
	}

	p.CoverText12p
	{
		margin-bottom: 7pt;
		font-size: 12pt;
		line-height: 14pt;
		margin-left: 0;
	}

	span.sys
	{
		font-size: 10pt;
		font-family: 'Courier New';
	}

	span.italicized
	{
		font-weight: normal;
		font-style: italic;
	}

	span.emphasized
	{
		font-weight: bold;
		font-style: normal;
	}

	p.FlushLeft
	{
		margin-left: 0;
	}

	p.CoverText8p
	{
		font-size: 8pt;
		margin-left: 0;
	}

	p.CoverText8pFR
	{
		text-align: right;
		font-size: 8pt;
		margin-left: 0;
	}

	p.Legal
	{
		font-weight: bold;
		font-style: normal;
		margin-bottom: 6pt;
		font-size: 9pt;
		line-height: 11pt;
		margin-left: 0;
	}

	h1.service
	{
		
	}

	h2.service
	{
		
	}

	h3.service
	{
		
	}

	p.Footnote
	{
		font-size: 8pt;
	}

	p.IndexHeading
	{
		font-size: 16pt;
		text-align: left;
		line-height: 24pt;
		margin-bottom: 0;
		margin-top: 12pt;
		column-break-after: auto;
	}

	p.Index1
	{
		margin-top: 0;
	}

	p.Index2
	{
		margin-top: 0;
	}

	p.TOC1
	{
		font-weight: normal;
		font-style: normal;
		margin-left: 2mm;
		font-size: 12pt;
		margin-bottom: 6px;
	}

	p.TOC2
	{
		margin-left: 6mm;
		margin-bottom: 6px;
	}

	p.MiniTOC2
	{
		
	}

	p.MiniTOC3
	{
		
	}

	p.TOC3
	{
		margin-left: 60mm;
	}

	ul.UnorderedList > li > ul
	{
		list-style-type: disc;
	}

	ul.UnorderedList > li > ul > li > ul
	{
		list-style-type: circle;
	}

	ul.UnorderedList > li > ul > li > ul > li > ul
	{
		list-style-type: circle;
	}

	ol.OrderedList
	{
		list-style-position: outside;
		border: none 1px #000000;
		margin-left: 18px;
		padding-left: 13pt;
	}

	ol.OrderedList > li > ol
	{
		
	}

	ul.UnorderedList
	{
		list-style-position: outside;
		border: none 1px #a52a2a;
		margin-left: 16px;
		padding-left: 13px;
	}

	caption,
	p.TableCaption
	{
		text-align: inherit;
		mc-auto-number-format: 'T:{ }';
	}

	table
	{
		margin-left: 0pt;
	}

	p.ImageCaption,
	h6.ImageCaption
	{
		mc-auto-number-format: 'F:{ }';
	}

	p.BulletIndent_forFrameImportOnly
	{
		margin-left: 60px;
	}

	p.Bullet_forFrameImportOnly
	{
		margin-left: 20px;
	}

	p.Step1_forFrameImportOnly
	{
		margin-left: 2px;
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 21px;
		padding-left: 12pt;
	}

	p.StepNext_forFrameImportOnly
	{
		margin-left: 2px;
	}

	p.StepSub_forFrameImportOnly
	{
		mc-auto-number-format: '{a+}. ';
		margin-left: 40px;
		padding-left: 13pt;
		mc-auto-number-offset: 23px;
		mc-auto-number-position: outside-head;
	}

	p.StepSub1_forFrameImportOnly
	{
		mc-auto-number-format: '{a=1}. ';
		margin-left: 40px;
		mc-auto-number-position: outside-head;
		padding-left: 13pt;
		mc-auto-number-offset: 23px;
	}

	img
	{
		border: none 0px;
		max-width: 100%;
	}

	a.Popup
	{
		
	}

	p.TableText,
	td
	{
		font-size: 10pt;
	}

	div
	{
		
	}

	ol.TableOrderedList
	{
		font-family: Verdana, ' Arial', ' sans-serif';
		margin-left: 0px;
	}

	ul.TableUnorderedList
	{
		font-family: Verdana, ' Arial', ' sans-serif';
		margin-left: 0px;
		padding-left: 20px;
	}

	td
	{
		font-family: Verdana, ' Arial', ' sans-serif';
	}

	th
	{
		font-family: Verdana, ' Arial', ' sans-serif';
	}

	div.Indent4List
	{
		margin-left: 18px;
		padding-left: 14pt;
	}

	img.Legends
	{
		height: 15px;
		width: 15px;
	}

	ol.TableOrderedList > li > ol
	{
		padding-left: 22px;
	}

	ol.TableOrderedList > li > ol > li > ol
	{
		
	}

	ul.TableUnorderedList > li > ul
	{
		margin-left: 0px;
	}

	ul.TableUnorderedList > li > ul > li > ul
	{
		
	}

	caption
	{
		font: Verdana;
	}
}

p.ChapterTitle
{
	mc-heading-level: 1;
}

p.ChapterTitleNoTOC
{
	
}

p.HeaderFooter
{
	font-size: 9pt;
}

caption,
p.TableCaption
{
	font-family: Verdana, ' Arial', ' sans-serif';
	font-size: 10pt;
	font: Arial;
	text-align: left;
	line-height: 14pt;
	mc-auto-number-format: 'T:Table {Gn+} ';
	font-style: italic;
}

ul.UnorderedList
{
	margin-left: 40px;
	list-style-position: outside;
	border: none 1px;
	list-style-type: square;
}

ul.TableUnorderedList > li > ul > li > ul > li > ul
{
	list-style-type: none;
}

ul.TableUnorderedList
{
	list-style-type: square;
	margin-bottom: 0em;
	margin-top: 6pt;
	margin-left: 0px;
	padding-left: 22px;
}

caption
{
	font: Verdana;
}

ul.TableUnorderedList > li > ul > li > ul
{
	
}

ul.TableUnorderedList > li > ul
{
	margin-left: 0px;
}

ol.TableOrderedList > li > ol > li > ol
{
	
}

ol.TableOrderedList > li > ol
{
	padding-left: 22px;
}

img.Legends
{
	height: 15px;
	width: 15px;
}

div.Indent4List
{
	margin-left: 18px;
	padding-left: 14pt;
}

th
{
	font-family: Verdana, ' Arial', ' sans-serif';
}

td
{
	font-family: Verdana, ' Arial', ' sans-serif';
}

ul.TableUnorderedList
{
	font-family: Verdana, ' Arial', ' sans-serif';
	margin-left: 0px;
	padding-left: 20px;
}

ol.TableOrderedList
{
	font-family: Verdana, ' Arial', ' sans-serif';
	margin-left: 0px;
}

div
{
	
}

p.TableText,
td
{
	font-size: 10pt;
}

a.Popup
{
	
}

img
{
	border: none 0px;
	max-width: 100%;
}

p.StepSub1_forFrameImportOnly
{
	mc-auto-number-format: '{a=1}. ';
	margin-left: 40px;
	mc-auto-number-position: outside-head;
	padding-left: 13pt;
	mc-auto-number-offset: 23px;
}

p.StepSub_forFrameImportOnly
{
	mc-auto-number-format: '{a+}. ';
	margin-left: 40px;
	padding-left: 13pt;
	mc-auto-number-offset: 23px;
	mc-auto-number-position: outside-head;
}

p.StepNext_forFrameImportOnly
{
	margin-left: 2px;
}

p.Step1_forFrameImportOnly
{
	margin-left: 2px;
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 21px;
	padding-left: 12pt;
}

p.Bullet_forFrameImportOnly
{
	margin-left: 20px;
}

p.BulletIndent_forFrameImportOnly
{
	margin-left: 60px;
}

p.ImageCaption,
h6.ImageCaption
{
	mc-auto-number-format: 'F:{ }';
}

table
{
	margin-left: 0pt;
}

caption,
p.TableCaption
{
	text-align: inherit;
	mc-auto-number-format: 'T:{ }';
}

ul.UnorderedList
{
	list-style-position: outside;
	border: none 1px #a52a2a;
	margin-left: 16px;
	padding-left: 13px;
}

ol.OrderedList > li > ol
{
	
}

ol.OrderedList
{
	list-style-position: outside;
	border: none 1px #000000;
	margin-left: 18px;
	padding-left: 13pt;
}

ul.UnorderedList > li > ul > li > ul > li > ul
{
	list-style-type: circle;
}

ul.UnorderedList > li > ul > li > ul
{
	list-style-type: circle;
}

ul.UnorderedList > li > ul
{
	list-style-type: disc;
}

p.TOC3
{
	margin-left: 60mm;
}

p.MiniTOC3
{
	
}

p.MiniTOC2
{
	
}

p.TOC2
{
	margin-left: 6mm;
	margin-bottom: 6px;
}

p.TOC1
{
	font-weight: normal;
	font-style: normal;
	margin-left: 2mm;
	font-size: 12pt;
	margin-bottom: 6px;
}

p.Index2
{
	margin-top: 0;
}

p.Index1
{
	margin-top: 0;
}

p.IndexHeading
{
	font-size: 16pt;
	text-align: left;
	line-height: 24pt;
	margin-bottom: 0;
	margin-top: 12pt;
	column-break-after: auto;
}

p.Footnote
{
	font-size: 8pt;
}

h3.service
{
	
}

h2.service
{
	
}

h1.service
{
	
}

p.Legal
{
	font-weight: bold;
	font-style: normal;
	margin-bottom: 6pt;
	font-size: 9pt;
	line-height: 11pt;
	margin-left: 0;
}

p.CoverText8pFR
{
	text-align: right;
	font-size: 8pt;
	margin-left: 0;
}

p.CoverText8p
{
	font-size: 8pt;
	margin-left: 0;
}

p.FlushLeft
{
	margin-left: 0;
}

span.emphasized
{
	font-weight: bold;
	font-style: normal;
}

span.italicized
{
	font-weight: normal;
	font-style: italic;
}

span.sys
{
	font-size: 10pt;
	font-family: 'Courier New';
}

p.CoverText12p
{
	margin-bottom: 7pt;
	font-size: 12pt;
	line-height: 14pt;
	margin-left: 0;
}

p.ChapterTitleNoTOC
{
	margin-bottom: 12pt;
	font-size: 24pt;
	line-height: 36pt;
	margin-left: 0;
	color: #009933;
}

p.ChapterTitle
{
	margin-bottom: 12pt;
	font-size: 24pt;
	line-height: 36pt;
	margin-left: 0;
	color: #009933;
}

p.ManualType
{
	margin-bottom: 12pt;
	font-size: 20pt;
	line-height: 24pt;
	margin-left: 0;
}

p.ProductTitle
{
	color: #009933;
	line-height: 30pt;
	margin-bottom: 15pt;
	font-size: 24pt;
	margin-left: 0;
}

p.ParaTitle
{
	font-weight: bold;
	font-style: normal;
	margin-bottom: 0;
}

h5
{
	color: #000000;
}

h4
{
	color: #000000;
}

p,
h6
{
	font-size: 10pt;
	color: #000000;
	margin-bottom: 0;
	line-height: 14pt;
	margin-left: 0mm;
	margin-top: 6pt;
	mc-hyphenate: never;
}

body
{
	margin: 0px;
	margin-left: 15pt;
	font: Verdana;
	font-family: Verdana, ' Arial', ' sans-serif';
	margin-right: 15pt;
	width: 70%;
	padding-bottom: 10px;
}

h3
{
	font-size: 12pt;
	margin-top: 6pt;
	margin-bottom: 0;
	color: #009933;
	line-height: 18pt;
}

h2
{
	font-size: 14pt;
	margin-top: 6pt;
	margin-bottom: 0;
	line-height: 20pt;
	color: #009933;
}

h1
{
	font-size: 16pt;
	line-height: 20pt;
	margin-top: 6pt;
	margin-bottom: 0;
	mc-auto-number-offset: 0;
	color: #009933;
}

@media only screen and (max-width: 1279px)
{
	caption
	{
		font: Verdana;
	}
}

@media only screen and (max-width: 767px)
{
	h1
	{
		line-height: 20pt;
		margin-top: 6pt;
		margin-bottom: 0;
		mc-auto-number-offset: 0;
		color: #009933;
		font-size: 14pt;
	}

	h2
	{
		margin-top: 6pt;
		margin-bottom: 0;
		color: #009933;
		font-size: 14pt;
		line-height: 18pt;
	}

	h3
	{
		font-size: 12pt;
		margin-top: 6pt;
		margin-bottom: 0;
		color: #009933;
		line-height: 18pt;
	}

	body
	{
		margin: 0px;
		font: Verdana;
		font-family: Verdana, ' Arial', ' sans-serif';
		margin-left: 5pt;
		margin-right: 5pt;
	}

	p,
	h6
	{
		font-size: 10pt;
		color: #000000;
		margin-top: 6pt;
		margin-bottom: 0;
		line-height: 14pt;
		margin-left: 0mm;
		mc-hyphenate: never;
	}

	h4
	{
		color: #000000;
	}

	h5
	{
		color: #000000;
	}

	p.ParaTitle
	{
		font-weight: bold;
		font-style: normal;
		margin-bottom: 0;
	}

	p.ProductTitle
	{
		color: #009933;
		line-height: 14pt;
		margin-bottom: 14pt;
		font-size: 12pt;
		margin-left: 0;
	}

	p.ManualType
	{
		margin-bottom: 14pt;
		font-size: 12pt;
		line-height: 14pt;
		margin-left: 0;
	}

	p.ChapterTitle
	{
		margin-bottom: 14pt;
		margin-left: 0;
		color: #009933;
		page-break-before: always;
		line-height: 20pt;
		font-size: 16pt;
	}

	p.ChapterTitleNoTOC
	{
		margin-bottom: 14pt;
		margin-left: 0;
		color: #009933;
		page-break-before: always;
		line-height: 20pt;
		font-size: 16pt;
	}

	p.CoverText12p
	{
		margin-bottom: 7pt;
		font-size: 12pt;
		line-height: 14pt;
		margin-left: 0;
	}

	span.sys
	{
		font-size: 10pt;
		font-family: 'Courier New';
	}

	span.italicized
	{
		font-weight: normal;
		font-style: italic;
	}

	span.emphasized
	{
		font-weight: bold;
		font-style: normal;
	}

	p.FlushLeft
	{
		margin-left: 0;
	}

	p.CoverText8p
	{
		font-size: 8pt;
		margin-left: 0;
	}

	p.CoverText8pFR
	{
		text-align: right;
		font-size: 8pt;
		margin-left: 0;
	}

	p.Legal
	{
		font-weight: bold;
		font-style: normal;
		margin-bottom: 6pt;
		font-size: 9pt;
		line-height: 11pt;
		margin-left: 0;
	}

	h1.service
	{
		
	}

	h2.service
	{
		
	}

	h3.service
	{
		
	}

	p.Footnote
	{
		font-size: 8pt;
	}

	p.IndexHeading
	{
		font-size: 12pt;
		text-align: left;
		line-height: 14pt;
		margin-bottom: 0;
		margin-top: 12pt;
		column-break-after: auto;
	}

	p.Index1
	{
		margin-top: 0;
	}

	p.Index2
	{
		margin-top: 0;
	}

	p.TOC1
	{
		font-weight: normal;
		font-style: normal;
		font-size: 12pt;
		margin-bottom: 6px;
	}

	p.TOC2
	{
		margin-bottom: 6px;
	}

	p.MiniTOC2
	{
		
	}

	p.MiniTOC3
	{
		
	}

	p.TOC3
	{
		
	}

	ol.OrderedList
	{
		text-indent: 0pt;
		list-style-position: outside;
		border: none 1px #6b8e23;
		margin-left: 0pt;
		padding-left: 15pt;
	}

	ol.OrderedList > li > ol
	{
		margin-left: 2px;
	}

	ul.UnorderedList
	{
		text-indent: 0pt;
		border: none 1px #6b8e23;
		margin-left: -22px;
	}

	caption,
	p.TableCaption
	{
		text-align: inherit;
		mc-auto-number-format: 'T:{ }';
	}

	table
	{
		margin-left: 0pt;
	}

	p.ImageCaption,
	h6.ImageCaption
	{
		mc-auto-number-format: 'F:{ }';
	}

	ol.OrderedList > li > ol > li > ol
	{
		margin-left: 2px;
	}

	thead
	{
		display: table-header-group;
	}

	ol.TableOrderedList
	{
		font-family: Verdana, ' Arial', ' sans-serif';
		margin-left: 0px;
	}

	ul.TableUnorderedList
	{
		font-family: Verdana, ' Arial', ' sans-serif';
		margin-left: 0px;
	}

	ol
	{
		margin-left: 2px;
	}

	ul
	{
		margin-left: 2px;
	}

	span.SafetyWhite
	{
		padding-top: inherit;
		text-align: inherit;
	}

	span.SafetyBlack
	{
		text-align: inherit;
		padding-top: inherit;
	}

	p.StepNext_forFrameImportOnly
	{
		margin-left: 2px;
	}

	p.Step1_forFrameImportOnly
	{
		margin-left: 2px;
		margin-top: 2px;
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 21px;
		padding-left: 12pt;
	}

	p.Bullet_forFrameImportOnly
	{
		margin-left: 19px;
	}

	p.BulletIndent_forFrameImportOnly
	{
		list-style-position: outside;
		list-style-type: disc;
		margin-left: 61px;
	}

	p.StepSub_forFrameImportOnly
	{
		mc-auto-number-format: '{a+}. ';
		margin-left: 40px;
		padding-left: 17pt;
		mc-auto-number-position: outside-head;
		mc-auto-number-offset: 23px;
	}

	p.StepSub1_forFrameImportOnly
	{
		mc-auto-number-format: '{a=1}. ';
		margin-left: 40px;
		mc-auto-number-position: outside-head;
		padding-left: 17pt;
		mc-auto-number-offset: 23px;
	}

	img
	{
		max-width: 90%;
	}

	td
	{
		font-family: Verdana, ' Arial', ' sans-serif';
	}

	th
	{
		font-family: Verdana, ' Arial', ' sans-serif';
	}

	ul.UnorderedList > li > ul > li > ul > li > ol
	{
		
	}

	img.Legends
	{
		height: 15px;
		width: 15px;
	}

	caption
	{
		font: Verdana;
	}
}

thead
{
	display: table-header-group;
}

p.Step1_forFrameImportOnly
{
	mc-auto-number-format: 'N:{n=1}. ';
	margin-bottom: 1.12em;
	margin-top: 1.12em;
}

p.StepNext_forFrameImportOnly
{
	mc-auto-number-format: 'N:{n+}. ';
	mc-leader-indent: 5pt;
	mc-auto-number-position: outside-head;
	padding-left: 12pt;
	border: none 1px #a52a2a;
	mc-auto-number-offset: 21px;
	margin-left: 2pt;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
}

p.Bullet_forFrameImportOnly
{
	list-style-type: square;
	list-style-position: outside;
	margin-left: 2px;
	list-style: ul;
	display: list-item;
}

p.BulletIndent_forFrameImportOnly
{
	text-indent: 1mm;
	list-style-type: disc;
	list-style-position: outside;
	margin-left: 4px;
	display: list-item;
}

p.StepSub_forFrameImportOnly
{
	mc-auto-number-format: '{a+}. ';
	margin-left: 42px;
	margin-bottom: 1.12em;
	margin-top: 1.12em;
}

p.StepSub1_forFrameImportOnly
{
	mc-auto-number-format: '{a=1}. ';
	margin-left: 42px;
	margin-top: 1.12em;
	margin-bottom: 1.12em;
}

sub
{
	vertical-align: text-bottom;
}

div
{
	
}

li
{
	margin-bottom: 0em;
	margin-top: 6pt;
	line-height: 14pt;
}

html.NoLogoMasterPage
{
	mc-master-page: url('../pagelayouts/parts pop-up.flmsp');
}

html.PlainMasterPage
{
	mc-master-page: url('../pagelayouts/weblayout_plain.flmsp');
}

span.ExcludeFromGlossary
{
	mc-disable-glossary-terms: true;
}

div.NoBreakInside
{
	page-break-inside: avoid;
}

div.Indent
{
	page-break-inside: avoid;
}

h6.ImageCaption
{
	mc-heading-level: 6;
}

div.Indent4List
{
	margin-left: 6mm;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	page-break-inside: avoid;
}

span.smallcaps
{
	font-variant: small-caps;
}

ul.UnorderedList > li > ul > li > ul > li > ol
{
	list-style-type: none;
}

ul.UnorderedList > li > ul > li > ul > li > ol > li > ul
{
	list-style-type: none;
}

ul
{
	
}

ul.UnorderedList > li > ul > li > ul
{
	list-style-type: circle;
}

ul.UnorderedList > li > ul > li > ul > li > ol > li > ol
{
	list-style-type: none;
}

ul.UnorderedList > li > ul > li > ul > li > ol > li > ol > li > ul
{
	list-style-type: none;
}

ul.UnorderedList > li > ul > li > ul > li > ol > li > ol > li > ul > li > ul
{
	list-style-type: none;
}

ul.UnorderedList > li > ul > li > ul > li > ol > li > ol > li > ul > li > ul > li > ul
{
	list-style-type: none;
}

ul.UnorderedList > li > ul > li > ul > li > ol > li > ol > li > ul > li > ul > li > ul > li > ul
{
	list-style-type: none;
}

ul.UnorderedList > li > ul > li > ul > li > ol > li > ol > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-type: none;
}

img.Legends
{
	vertical-align: bottom;
}

ol
{
	
}

span.nowrap
{
	display: block;
	white-space: nowrap;
}

