
<!--  Fix size container -->
<div class="for-login-or-smart-install">
  <div class="csb-container-fixed" data-ng-controller="csbIdleTimer">

    <!-- Page Title -->
    <div class="csb-header">
      <h1 translate="passwords.change_password"></h1>
    </div>

    <!-- Content -->
    <div class="csb-body">

      <!-- Change password message -->
      <div class="csb-content-top csb-content-top--small">
        <b translate="passwords.default_password_message">
        </b>
      </div>

      <!-- Change password form -->
      <div class="csb-content-middle row">

        <!-- Left column key image -->
        <div class="col-xs-4">
          <div class="icon-key cg-key-icon" ></div>
        </div>

        <!-- Right column form input -->
        <div class="col-xs-8">

          <!-- Change password form -->
          <form name="forms.changePassword" novalidate
                ng-model-options="{ updateOn: 'submit' }" class="form-horizontal suppress-ng-validation"
                ng-submit="applyButtonClicked()">
            <!-- User name -->
            <div class="form-group" style="margin-bottom: 0">
              <label for="userName" class="csb-control-label col-xs-4" translate="passwords.user_name"></label>
              <div class="col-xs-8">
                <p id="userName" class="form-control-static">{{userName}}</p>
              </div>
            </div>

            <!-- Old password -->
            <div class="form-group" style="margin-bottom: 0">
              <label for="inputOldPassword" class="csb-control-label col-xs-4" translate="passwords.old_password">
              </label>
              <div class="col-xs-8">
                <input id="inputOldPassword" name="oldPassword"
                       type="password" class="form-control"
                       ng-class="{'input--invalid': passwordValidationErrors.oldPassword.invalid}"
                       data-ng-model="password.oldPassword" placeholder="{{'passwords.password' | translate}}"
                       required
                       autocomplete="off">
              </div>
            </div>

            <!-- New password -->
            <div class="form-group" style="margin-bottom: 0">
              <label for="inputNewPassword" class="csb-control-label col-xs-4" translate="passwords.new_password">
              </label>
              <div class="col-xs-8">
                <input id="inputNewPassword" name="newPassword"
                       type="password" class="form-control"
                       ng-class="{'input--invalid': passwordValidationErrors.newPassword.invalid}"
                       data-ng-model="password.newPassword" placeholder="{{'passwords.password' | translate}}"
                       required
                       autocomplete="off"
                       password-tooltip>
              </div>
            </div>

            <!-- Confirm password -->
            <div class="form-group" style="margin-bottom: 0;">
              <label for="inputConfirmPassword" class="csb-control-label col-xs-4" translate="passwords.confirm_password">
              </label>
              <div class="col-xs-8">
                <input id="inputConfirmPassword" name="confirmPassword"
                       type="password" class="form-control"
                       ng-class="{'input--invalid': passwordValidationErrors.confirmPassword.invalid}"
                       data-ng-model="password.confirmPassword" placeholder="{{'passwords.password' | translate}}"
                       required
                       autocomplete="off">

                <ul class="password-rules" translate="passwords.password_rules"></ul>
              </div>
            </div>

            <!-- Control buttons -->
            <div class="form-group">
              <div class="col-xs-offset-4 col-xs-8">
                <br />
                <div class="col-xs-6">
                  <input type="submit" id="btnChngPwdApply" class="csb-button-grey" value="{{'passwords.apply' | translate}}">

                </div>
                <div class="col-sm-6">
                  <button type="button" id="btnChngClear" class="csb-button-grey"
                          data-ng-click="clearButtonClicked()" translate="passwords.clear"></button>
                </div>
              </div>
            </div>
          </form><!-- End of form -->

          <div class="cpw_message">
            <password-errors></password-errors>
          </div>
        </div><!-- End of Right column -->
      </div><!-- End Change password form -->
    </div><!-- End Content -->
    <!-- Footer -->
    <div class="clearfix">
      <div class="csb-footer" style="padding-right: 35px">
        <div class="icon-schneider_logo_Green cg-schneider-icon"></div>
      </div>
    </div>
  </div><!-- End of container -->
</div>
